.posts-page {
  width: 100%;
  padding: 2px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  list-style-type: none;
  border-top: 1px solid #aaa;
}
