.PostCard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: var(--shadow-primary), inset -1px 14px 0px -11px rgb(224, 67, 10);
  border-radius: 5px;
  padding: 8px;
  margin-right: 5px;
  .title {
    font-weight: 500;
    font-size: 18px;
  }
}
