@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&family=Lumanosimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
body {
  margin: 0;
  font-family: "Roboto";
  color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: #f5f5f5;
}

:root {
  --color-orange: rgb(224, 67, 10);
  --shadow-primary: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --color-green: rgb(98, 184, 98);
  --color-todo: rgb(211, 143, 54);
}
